@import "tailwindcss";
@import "flowbite";
@plugin "flowbite/plugin";

@source "../js/flowbite";
/* color
    green : 
*/

/* @theme {
  --breakpoint-xs: 390px;
  --breakpoint-mobile-landscape: (orientation: landscape) and (max-width: 950px) and (max-height: 450px);
} */

@theme {
  --breakpoint-max-md: (max-width: 767px);
}

.gambar-home {
  width: 155px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.table-green-fees {
  border-collapse: collapse;
}

.table-green-fees td,
.table-green-fees tr {
  /* border-bottom: 1px solid #88a492; */
  padding: 5px;
}

.img-affiliated img {
  width: 90px;
  height: auto;
}

.gambar-facilities {
  width: 150px;
  height: auto;
}

#holeImage {
  background-size: cover;
}
#holeContent {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@media (max-width: 376px) {
  .gambar-home {
    width: 90%;
    height: 200px;
    object-fit: cover;
  }
}
@media (min-width: 640px) {
  .gambar-home {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .nama-web {
    /* font-size: 1.3rem; */
    margin-left: 15px;
  }

  .logo-pgs:nth-child(odd) {
    width: 3.2rem;
  }

  .img-affiliated img {
    width: 110px;
    height: auto;
  }

  .find-us-here a {
    font-size: 2rem;
  }

  #facilities p {
    font-size: medium;
  }
}

@media (min-width: 1280px) {
  .title-fac {
    font-size: x-large;
  }

  .desc-fac {
    font-size: 3rem;
  }

  .gambar-facilities {
    width: 200px;
    height: auto;
  }
  .nama-web {
    font-size: 1.2rem;
  }

  /* #facilities *{
    border: 1px red solid;
  } */
}

@media (min-width: 1024px) {
  .our-benefit ul li {
    border-bottom: 1px #0d8436 solid;
    padding: 7px;
  }
  #hotelImage {
    width: 100%;
    height: 400px;
  }

  /* .find-us-here * {
    border: 1px red solid;
  } */

  .find-us-here {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
  }
  .find-us-here > * {
    flex: 1 1 0;
  }

  .img-affiliated img {
    width: 150px;
  }

  #location iframe {
    height: 33rem;
  }

  .membership-lg {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0.7rem;
    justify-content: center;
  }

  .membership-lg > * {
    width: 20%;
    min-width: 200px;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0;
  }

  .greenfees-lg {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0.75rem;
    justify-content: start;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .greenfees-lg > * {
    flex: 1 1 0;
    min-width: 20%;
    justify-content: flex-start;
  }

  .text-hotel span {
    font-size: x-large;
  }
  .text-hotel p {
    font-size: larger;
  }
}

/* .greenfees-lg * {
  border: 1px red solid;
} */

/* .golf-holes * {
  border: 1px red solid;
} */
